article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; word-wrap: break-word; }

q { quotes: \201C \201D \2018 \2019; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }

input[type=search] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, figure { margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

html { font-size: 62.5%; }

body { background: #000000; font-family: "Amatic SC", cursive; font-size: 1.6rem; }

h1 { color: #BB0A21; font-weight: 700; font-size: 8.5rem; text-align: center; margin: 0; padding: 2rem 0.5rem; }

h2 { color: #FFF9FB; padding: 0 0.5rem; margin: 1rem 0 0; text-align: center; font-size: 5rem; cursor: pointer; }

h3 { color: #F3EFE0; font-size: 4rem; text-align: center; padding: 0 0.5rem; }

img { max-width: 100%; }

.begin { height: 3rem; padding: 1rem 0; }

.wrapper { width: 80%; margin: 0 auto; padding-top: 2rem; }

section.main { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

section.main h3.questions { padding: 1rem 0; }

section.main ul.options { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none; font-family: "Varela", sans-serif; margin: 0; padding: 0; }

section.main ul.options > * { -webkit-box-flex: 1; -webkit-flex: 1 0 -webkit-calc(50% - 1rem); -ms-flex: 1 0 calc(50% - 1rem); flex: 1 0 calc(50% - 1rem); margin: 0.5rem; padding: 1rem; }

section.main ul.options li { color: #F3EFE0; font-size: 2rem; text-align: center; cursor: pointer; }

.mainFlex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

footer { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; color: #252627; padding-top: 5rem; }

footer p { font-size: 1.6rem; font-family: "Varela", sans-serif; letter-spacing: 0.2rem; text-align: center; }

footer ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 auto; padding: 0; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; width: 45%; }

footer ul li { padding: 0; margin: 0; }

footer a { color: #FFF9FB; padding: 5px; font-size: 1.2rem; }

@media all and (min-width: 1000px) { .animated { -webkit-animation-duration: 7s; animation-duration: 7s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
  .animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
  @-webkit-keyframes flash { from, 50%, to { opacity: 1; }
    25%, 75% { opacity: 0; } }
  @keyframes flash { from, 50%, to { opacity: 1; }
    25%, 75% { opacity: 0; } }
  .flash { -webkit-animation-name: flash; animation-name: flash; } }

@media all and (min-width: 1024px) { section.main ul.options li { -webkit-transition: color 1s; transition: color 1s; }
  section.main ul.options li:hover { color: #BB0A21; }
  footer a { -webkit-transition: color 1s; transition: color 1s; }
  footer a:hover { color: #BB0A21; } }

@media all and (max-width: 850px) { h1 { font-size: 6.5rem; } }

@media all and (max-width: 650px) { h1 { font-size: 4.5rem; }
  h2 { font-size: 4rem; }
  h3 { font-size: 3.5rem; }
  section.main ul.options li { font-size: 1.5rem; }
  footer p { font-size: 1.1rem; }
  footer a { font-size: 0.9rem; } }

@media all and (max-width: 375px) { h1 { font-size: 3.5rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2.2rem; }
  section.main ul.options li { font-size: 1rem; }
  footer p { font-size: 0.8rem; }
  footer a { font-size: 0.6rem; } }
